<section class="product-navigation">
	<a href="//cloudticity.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Cloudticity, LLC. 2017</span>
	<a href="//policy.cloudticity.com" class="right">&rsaquo;</a>
	<span class="span-right">HIPAA Policies</span>
</section>